#pragma code_page(65001)   // говорит windres, что строки в UTF-8

#include <windows.h>
#include "resource.h"

IDR_MAINMENU MENU
BEGIN
    POPUP "Робота"
    BEGIN
        MENUITEM "Робота1", ID_ROBOTA_ROBOTA1
        MENUITEM "Робота2", ID_ROBOTA_ROBOTA2
    END
END

IDD_DLG_ROBOTA1 DIALOGEX 0, 0, 200, 130
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Робота1 — Групи факультету"
FONT 9, "MS Shell Dlg"
BEGIN
    LISTBOX         IDC_LIST_GROUPS, 10, 10, 180, 85, LBS_NOTIFY | LBS_STANDARD | WS_TABSTOP
    DEFPUSHBUTTON   "Так",      IDOK,     45, 105, 50, 14
    PUSHBUTTON      "Відміна",  IDCANCEL, 105, 105, 50, 14
END

IDD_DLG_ROBOTA2 DIALOGEX 0, 0, 200, 70
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Робота2 — Введення тексту"
FONT 9, "MS Shell Dlg"
BEGIN
    EDITTEXT        IDC_EDIT_TEXT, 10, 15, 180, 14, ES_AUTOHSCROLL | WS_TABSTOP | WS_BORDER
    DEFPUSHBUTTON   "Так",      IDOK,     45, 45, 50, 14
    PUSHBUTTON      "Відміна",  IDCANCEL, 105, 45, 50, 14
END